:root{
    --basis-font-size: 14px;
    --sm-rad: 6px;
    --m-rad: 10px;
}

body{
    font-size: var(--basis-font-size);
}

aside hr{
    width: 100%;
}

aside h1{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 1.8rem;
}

.content img{
    max-width: 100%;
    box-shadow: 0 0 7px black;
    border-radius: var(--m-rad);
}

aside a{
    text-decoration: none;
    color: rgb(211, 211, 211);
    display:block;
    box-sizing: border-box;
    padding: 10px 19px;
    border-radius: var(--sm-rad);
}

aside a:hover{
    background-color: rgb(105, 105, 105);
    color: white;
}

aside .active{
    background-color: rgb(105, 105, 105);
    color: white;
}

aside h5{
    margin: 3px 0;
}

aside h6{
    margin-bottom: 8px;
}

