<h1>Belajar Laravel</h1>

<hr>

<h6>BAB 1: Pondasi Wajib</h6>
<h5><a href="1-1-php-dasar.html" id="1-1-php-dasar">1-php-dasar</a></h5>  
<h5><a href="1-2-web-dasar.html" id="1-2-web-dasar">2-web-dasar</a></h5>  
<h5><a href="1-3-database.html" id="1-3-database">3-database</a></h5> 

<h6>BAB 2: Mengenal Laravel</h6> 
<h5><a href="2-1-introducing-laravel.html" id="2-1-introducing-laravel">1-introducing-laravel</a></h5>  
<h5><a href="2-2-instalasi.html" id="2-2-instalasi">2-instalasi</a></h5>  
<h5><a href="2-3-struktur-folder.html" id="2-3-struktur-folder">3-struktur-folder</a></h5>  
<h5><a href="2-4-environment.html" id="2-4-environment">4-environment</a></h5>  
<h5><a href="2-5-server-laravel.html" id="2-5-server-laravel">5-server-laravel</a></h5>  

<h6>BAB 3: Routing dan Controller</h6>
<h5><a href="3-1-routing.html" id="3-1-routing">1-routing</a></h5>  
<h5><a href="3-2-controller.html" id="3-2-controller">2-controller</a></h5>  

<h6>BAB 4: View</h6>
<h5><a href="4-1-blade.html" id="4-1-blade">1-blade</a></h5>  
<h5><a href="4-2-layout-dan-section.html" id="4-2-layout-dan-section">2-layout-dan-section</a></h5>  
<h5><a href="4-3-reusable-component.html" id="4-3-reusable-component">3-reusable-component</a></h5>  
<h5><a href="4-4-assets.html" id="4-4-assets">4-assets</a></h5>  

<h6>BAB 5: Database & Eloquent ORM</h6>
<h5><a href="5-1-migration.html" id="5-1-migration">1-migration</a></h5>  
<h5><a href="5-2-seeder-dan-factory.html" id="5-2-seeder-dan-factory">2-seeder-dan-factory</a></h5>  
<h5><a href="5-3-model.html" id="5-3-model">3-model</a></h5>  
<h5><a href="5-4-eloquent.html" id="5-4-eloquent">4-eloquent</a></h5>  

<h6>BAB 6: Form, Validation & Request</h6>
<h5><a href="6-1-form-handling.html" id="6-1-form-handling">1-form-handling</a></h5>  
<h5><a href="6-2-validation-rules.html" id="6-2-validation-rules">2-validation-rules</a></h5>  
<h5><a href="6-3-custom-error-message.html" id="6-3-custom-error-message">3-custom-error-message</a></h5>  
<h5><a href="6-4-old-input-error-display.html" id="6-4-old-input-error-display">4-old-input-error-display</a></h5>  

<h6>BAB 7: Auth & Authorization</h6>
<h5><a href="7-1-authentication.html" id="7-1-authentication">1-authentication</a></h5>  
<h5><a href="7-2-web-dasar.html" id="7-2-web-dasar">2-web-dasar</a></h5>  
<h5><a href="7-3-authorization.html" id="7-3-authorization">3-authorization</a></h5>  
<h5><a href="7-4-role-dan-permission.html" id="7-4-role-dan-permission">4-role-dan-permission</a></h5>  

<h6>BAB 8: File, Storage & Upload</h6>
<h5><a href="8-1-upload-file.html" id="8-1-upload-file">1-upload-file</a></h5>  
<h5><a href="8-2-storage.html" id="8-2-storage">2-storage</a></h5>  
<h5><a href="8-3-image-handling.html" id="8-3-image-handling">3-image-handling</a></h5>  
<h5><a href="8-4-soft-delete.html" id="8-4-soft-delete">4-soft-delete</a></h5>  

<h6>BAB 9: Advanced Laravel</h6>
<h5><a href="9-1-middleware-lanjutan.html" id="9-1-middleware-lanjutan">1-middleware-lanjutan</a></h5>  
<h5><a href="9-2-service-container.html" id="9-2-service-container">2-service-container</a></h5>  
<h5><a href="9-3-service-provider.html" id="9-3-service-provider">3-service-provider</a></h5>  
<h5><a href="9-4-helper-dan-trait.html" id="9-4-helper-dan-trait">4-helper-dan-trait</a></h5>  
<h5><a href="9-5-event-dan-listener.html" id="9-5-event-dan-listener">5-event-dan-listener</a></h5>  
<h5><a href="9-6-queue-dan-job.html" id="9-6-queue-dan-job">6-queue-dan-job</a></h5>  
<h5><a href="9-7-schedule.html" id="9-7-schedule">7-schedule</a></h5>  

<h6>BAB 10: API & Frontend Integration</h6>
<h5><a href="10-1-rest-api.html" id="10-1-rest-api">1-rest-api</a></h5> 
<h5><a href="10-2-api-resource.html" id="10-2-api-resource">2-api-resource</a></h5> 
<h5><a href="10-3-token-auth.html" id="10-3-token-auth">3-token-auth</a></h5> 
<h5><a href="10-4-consum-api-front-end.html" id="10-4-consum-api-front-end">4-consum-api-front-end</a></h5> 
<h5><a href="10-5-integrasi.html" id="10-5-integrasi">5-integrasi</a></h5> 

<h6>BAB 11: Deployment & Real Project</h6>
<h5><a href="11-1-environment-production.html" id="11-1-environment-production">1-environment-production</a></h5> 
<h5><a href="11-2-hosting.html" id="11-2-hosting">2-hosting</a></h5> 
<h5><a href="11-3-env-production.html" id="11-3-env-production">3-env-production</a></h5> 
<h5><a href="11-4-queue-di-server.html" id="11-4-queue-di-server">4-queue-di-server</a></h5> 
<h5><a href="11-5-security-basic.html" id="11-5-security-basic">5-security-basic</a></h5> 